/* static\css\general.css */
/* --- 根變數 (Root Variables) --- */
:root {
    --h1-font-size: clamp(34px, 5vw, 38px);
    --h2-font-size: clamp(30px, 4.5vw, 34px); 
    --h3-font-size: clamp(26px, 4vw, 30px);   
    --h4-font-size: clamp(22px, 3.5vw, 26px); 
    --h5-font-size: clamp(18px, 3vw, 22px);   
    --h6-font-size: clamp(14px, 2.5vw, 18px); 
    --li-font-size: clamp(10px, 2vw, 14px);   
    --p-font-size:  clamp(10px, 2vw, 14px);
    --font-weight-900: 900;
}

h1 { font-size: var(--h1-font-size); font-weight: var(--font-weight-900); }
h2 { font-size: var(--h2-font-size); font-weight: var(--font-weight-900); }
h3 { font-size: var(--h3-font-size); font-weight: var(--font-weight-900); }
h4 { font-size: var(--h4-font-size); font-weight: var(--font-weight-900); }
h5 { font-size: var(--h5-font-size); font-weight: var(--font-weight-900); }
h6 { font-size: var(--h6-font-size); font-weight: var(--font-weight-900); }
li { font-size: var(--li-font-size); font-weight: var(--font-weight-900); }
p  { font-size: var(--p-font-size);  font-weight: var(--font-weight-900); }