/* --- 根變數 (Root Variables) --- */
:root {
    --h1-font-size: clamp(30px, 4vw, 40px);
    --h2-font-size: clamp(25px, 3.5vw, 35px);
    --h3-font-size: clamp(20px, 3vw, 30px);
    --h4-font-size: clamp(17.5px, 2.75vw, 27.5px);
    --h5-font-size: clamp(15px, 2.5vw, 25px);
    --h6-font-size: clamp(12.5px, 2.25vw, 22.5px);
    --li-font-size: clamp(10px, 2vw, 20px);
    --a-font-size:  clamp(10px, 2vw, 20px);
    --p-font-size:  clamp(10px, 2vw, 20px);
}

h1, h2, h3, h4, h5, h6 , li, a {
    color: var(--header-font-color);
    transition: var(--fab-global-transition);
}

h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }
h4 { font-size: var(--h4-font-size); }
h5 { font-size: var(--h5-font-size); }
h6 { font-size: var(--h6-font-size); }
li { font-size: var(--li-font-size); }
a  { font-size: var(--a-font-size);  }
p  { font-size: var(--p-font-size);  }